@import "compass/css3/transition";

$white: #FFFFFF;
$black: #000000;

@font-face {
	font-family: dusty;
	src: url("../fonts/dusty.ttf");
}

.reveal {
	.emph {
		padding: 0 10px;
		font-family: dusty;
	}

	h3.foes-label {
		color: $white;
		padding-left: 50px;
		padding-top: 65px;
		float: left;
		.emph {
			font-size: 1.2em;
		}
	}
	.foes-img {
		border: none;
		width: 25%;
		height: 25%;
	}
}

.foes {
	background-color: $black;
}

.heart_break_img {
	float: left;
}

.heart_break_words {
	position: relative;
	top: 200px;
}
.teamwork {
	margin: auto;
}
.downed-batch-picker-boss {
	width: 400px;
}
.frameworks-overview-img {
	width: 25%;
}
.animate-buttons .button-ex {
	position: relative;
	top: 0;
	right: 0;
	@include transition(all, 3s);
}
.animate-buttons:hover .button-ex {
	&.button-one {
		top: 100px;
		right: 50px;
	}
	&.button-two {
		top: 30px;
		right: -20px;
	}
	&.button-three {
		top: -100px;
		right: 100px;
	}
	&.button-four {
		top: -24px;
		right: -23px;
	}
	&.button-five {
		top: 75px;
		right: 32px;
	}
	&.button-six {
		top: 45px;
		right: -230px;
	}
	&.button-seven {
		top: 200px;
		right: 50px;
	}
}
