@import "compass/css3/transition";
@import "compass/css3/opacity";

$white: #FFFFFF;
$black: #000000;

@font-face {
	font-family: dusty;
	src: url("../fonts/dusty.ttf");
}

.reveal {
	.emph {
		padding: 0 10px;
		font-family: dusty;
	}

	h3.foes-label {
		color: $white;
		padding-left: 50px;
		padding-top: 65px;
		float: left;
		.emph {
			font-size: 1.2em;
		}
	}
	.foes-img {
		border: none;
		width: 25%;
		height: 25%;
	}
}

.foes {
	background-color: $black;
}

.heart_break_img {
	float: left;
}

.heart_break_words {
	position: relative;
	top: 200px;
}
.teamwork {
	margin: auto;
}
.downed-batch-picker-boss {
	width: 400px;
}
.frameworks-overview-img {
	width: 25%;
}
.animate-buttons .button-container {
	display: inline-block;
	position: relative;
	top: 0;
	right: 0;
	border: 4px solid transparent;
	@include transition(all, 3s);
	@include transition(border, 1s);
	.button-label {
		@include transition(opacity, .5s);
		@include opacity(0);
	}
}
.animate-buttons:hover {
	.button-container {
		border: 4px solid black;
		.button-label {
			@include opacity(1);
		}
		&.button-one {
			top: 60px;
			right: -20px;
		}
		&.button-two {
			top: 30px;
			right: -20px;
		}
		&.button-three {
			top: -100px;
			right: -200px;
		}
		&.button-four {
			top: -10px;
			right: -150px;
		}
		&.button-five {
			top: 100px;
			right: -200px;
		}
		&.button-six {
			top: 45px;
			right: -230px;
		}
		&.button-seven {
			top:-50px ;
			right: 350px;
		}
	}
}
